main {
    padding: 10px !important;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    letter-spacing: 0.2px !important;
}

::placeholder {
    color: var(--text);
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--text);
}

/* <color name="colorPrimary">#696963</color>
<color name="colorPrimaryDark">#50504c</color>
<color name="colorAccent">#1264b1</color>
<color name="colorwhite">#ffffff</color>
<color name="colorpastel">#fff1de</color>
<color name="colorHint">#80807b</color>
<color name="black">#0d0d0d</color>
<color name="Gray">#bdbdbd</color>

<color name="Amarillo">#fff672</color>
<color name="Rojo">#ed2c2c</color>
<color name="VerdeFosforito">#9aec49</color>
<color name="VerdeNormal">#1da963</color>
<color name="Rosa">#ea3fc8</color>

<color name="summer">#44eebd82</color>
<color name="fall">#44d8d27e</color>
<color name="winter">#44a1c1da</color>
<color name="spring">#448da64b</color>

<color name="today">#4b82ff</color>
<color name="greyed_out">#898989</color> */
